@media screen and (max-width: 360px){
body{
    height: 1000px;
}
}
nav{
    margin: 20px;
}
nav ul{
    float: right;
}
nav ul li{
    margin: 15px;
    padding: 10px;
    display: inline-block;
    float: left;
}
nav ul li:hover{
    border: 1px solid black;
    transform: scale(1.2);
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: none;
    color: black;
}
body{
    background-image: url('../ims/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: darken; */
    filter: brightness(1.7);
    width: 100%;
    height: 100%;
    animation: slide 40s infinite;
}
@keyframes slide{
    25%{
        background: url('../ims/2.jpg');
        filter: brightness(1.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    50%{
        background: url('../ims/3.jpg');
        filter: brightness(1.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    75%{
        background: url('../ims/4.jpg');
        filter: brightness(1.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    } 
    /* 100%{
        background: url('../ims/five.jpeg');
        filter: brightness(1.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    } */

}
#text{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    color: gray;
}
button{
    background-color: green;
    border-radius: 40%;
    border: none;
    position: relative;
    left: 200px;
}
button a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}
button:hover{
background-color: black;
}
button a:hover{
    text-decoration: none;
    color: white;
}