body{
    margin: 0;
    padding: 0;
}
.col-md-2{
    width: 100%;
    position: relative;
    right: 20px;
    background-color:grey;
}
nav ul li{
    margin: 15px;
    padding: 10px;
    display: block;
}
nav ul li:hover{
    background-color: lightgrey;
    
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav ul li a{
    color: white;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Lora', serif;
}
.description p{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    margin-top:70px;
}
.description{
    height: 500px
}
.form{
    background-image: url(../logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.register-form{
    color: white;
    display: block;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.form h2{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 200px;
    font-family: 'Montserrat', sans-serif;
}
.textb{
   text-align: center;
   border: 1px solid grey;
   border-width: 3px;
   margin: 19px 20px;
   padding: 15px;
   border-radius: 30px;
}
.textb label{
    display: block;
    text-align: center;
}
.textb label,.textb input,textarea{
    width: 60%;
    border: none;
    background: none;
    outline: none;
    color: whitesmoke
}
.footer{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Grenze', serif;
}
.footer h2{
    font-size: 40px;
}
.footer label{
    font-weight: bolder;
}